.grid-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px 300px 300px;

}

.list-contain {
    margin-top: 3rem; 
    border: 1px solid DARKORANGE;
    width: 95%;
}

.list-contain h3{
    font-size: 2rem;
    font-family: var(--font-title);
}

.list-contain p {
    font-size: 1.6rem;
    font-family: var(--font-main-txt);
}

.list-contain h6 {
    font-size: 1.6rem;
    font-family: var(--font-main-txt);
}

.clear-button {
    font-family: var(--font-title);
    font-size: 1.6rem;
    border-radius: 5px;
    background: orange;
    margin-top: 2%;
} 




