/* ====================CSS Variables START==================== */
:root {
    --beige: #e5d8bf;
  
    --orange: #e25822;
  
    --yellow: #f1bc31;
  
    --font-logo:"Righteous", cursive; 
  
    --font-title: "Arvo", serif;
  
    --font-main-txt: "Comfortaa", cursive;
  }
  
  /* ====================CSS Variables END====================== */